$blue: #3473E2;
$grey-header: #313131;
$light-grey: #E0E0E0;
$nav-grey: #E9E9E9;
$background-grey: #F2F2F2;
$green: #52C41A;
$red : #f5222d;
$background-red: #fff1f0;
$border-red: #ffa39e;
$background-green: #e9fbe1;