@import "../../../styles/vars";
.planets-table {
  height: 100%;
  padding: $sm-padding $lg-padding;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  font-weight: bold;
  .table-name {
    margin-top: $lg-padding;
    font-size: 2em;
  }
  .table-body {
    background: none;
    margin-top: $lg-padding;
    .ant-table-placeholder {
      background: none;
    }
    th, td {
      background: none;
      color: white;
    }
    tr:hover {
      td {
        background: rgba(60,60,60,0.35);
        color: white;
      }
    }
  }
  .ant-pagination-prev, .ant-pagination-next {
    margin-bottom: 10px;
    a {
      background: none;
      border-style: dashed;
      border-width: 2px;
      color: white;
      font-weight: bold;
    }
    &:hover {
      a {
        color: white;
      }
    }
    &.ant-pagination-disabled {
      opacity: 0.5;
    }
  }

  .ant-pagination-item {
    margin-bottom: 10px;
    border-style: dashed;
    border-width: 2px;
    background: none;
    font-weight: bold;

    &:not(.ant-pagination-item-active) {
      a {
        color: white;
      }
    }
  }
}