@import "../../../styles/vars";
.planet-details {
  color: white;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $sm-padding $lg-padding;
  .error {
    font-size: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .details-body {
    .sphere-wrapper {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
    .planet-name {
      margin-top: $lg-padding;
      font-size: 2em;
    }
    .info-card {
      border: 1px solid white;
      margin-top: $lg-padding;
      background: rgba(0,0,0,0.5);
      color: white;
      font-weight: bold;
      .ant-card-head {
        background: none;
        border-bottom: 1px solid white;
        .ant-card-head-title {
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}